<!DOCTYPE html>
<html>
<head>
  <title>Googlemaps</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!-- Google AJAX Search APIを有効にする -->
  <%= javascript_include_tag "http://www.google.com/jsapi?key=ABQIAAAAubV6ipVCO8c_dPnrcPjEihSEmJJDZxFvackNIw5ej35xzhqArRR9_FNVUYdp6D3Z-VpYyf-Zv6e84A" %>
<!--GoogleMaps-->
  <%= raw GMap.header(:host => request.host) %>  
<!--header-->
  <%= raw @map.to_html %>
 
</head>
<body>

<%= yield %>

</body>
</html>
